node_modules
dist
.env
.env.local
.env.production
.env.development
.git
.gitignore
README.md
.DS_Store
*.log
.vscode
.idea
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*